{% extends 'base.html' %}

{% block content %}

{% if error%}
<div class="alert alert-danger" role="alert">
       {{ error }}
</div>

{% elif msg %}
<div class="alert alert-success" role="alert">
       {{ msg }}
</div>
{% endif %}

<style>
  h1{
    font-family:Comic-SansMS;
  }

  h5{
    color:#9933ff;
  }

  .names{
    text-align: left;
  }

  .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-family: monospace;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(45, end),
    blink-caret .75s step-end 3s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

</style>
<div class="container typewriter">
  <h1 class="mb-2 text-center font-weight-light">Update Profile</h1>
</div>

<hr/><br/>
<div >
  <div style="display: inline-block">

    <form class="align-center" action="{% url 'update' user.author.id user.author.coolname %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row names">
        <div class="col-6"><h5 class="font-weight-light">New Coolname:</h5></div>
        <div class="col-6"><input type="text" name="new_coolname" class="form-control-sm mr-sm-2" placeholder="New Coolname"/></div>
      </div>

      <div class="row names">
        <div class="col-6"><h5 class="font-weight-light">New Short Bio:</h5></div>
        <div class="form-group col-6">
            <textarea class="form-control mr-sm-2" rows="3" name="new_bio" cols="40" placeholder="New Short Bio"></textarea>
        </div>
      </div>

      <div class="row">
        <small class="form-text text-muted">
          <ul>
            <li>Irony: Make your new bio both short and lengthy</li>
          </ul>
      </small>
      </div>
      <div class="row names">
        <div class="col-6"><h5 class="font-weight-light">New Pic:</h5></div>
        <div class="col-6 small"><input type="file" name="new_photo"/></div>
      </div>
      <div class="row">
        <small id="passwordHelpBlock" class="form-text text-muted">
          <ul>
            <li>This new pic would be used inside LitWorld</li>
          </ul>
      </small>
      </div>

      <div class="row names">
        <div class="col-6"><h5 class="font-weight-light">Email ID:</h5></div>
        <div class="col-6"><input type="email" name="email" class="form-control-sm mr-sm-2" placeholder="name@example.com" /></div>
      </div>
      <div class="row names center-align">
        <button class="btn btn-outline-success my-2 my-sm-0 pl-2 ml-2" type="submit">Update</button>
      </div>
    </form>
  </div>

</div>
{% endblock %}
